// colors
$color-white: #fff;
$color-dark-grey: rgb(44, 43, 43);
$color-blue: rgb(8, 66, 105);
$color-green: rgb(95, 190, 95);
$color-orange: rgb(199, 121, 48);
$color-red: red;

// font size 
$font-size-h1: 3.0rem;
$font-size-h2: 2.5rem;
$font-size-h3: 2.0rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.0rem;